@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}

h1, h3 {
  position: relative;
}

.sidenav {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: $grid-gutter-width / 2;
  overflow-x: hidden;
  overflow-y: auto;

  .nav-link {
    color: rgba(255, 255, 255, 0.5);

    &:hover {
      color: rgba(255, 255, 255, 0.75);
    }

    &.active {
      color: #fff;
      background: none;
    }
  }
}

.anchor {
  position: absolute;
  top: -60px;
}
